body  {
    color : white;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
 }
 h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
 }
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    div {
      width: 600px; height: 360px; margin-bottom: 10px;
    }