body  {
    color : black;
    background-color : white;
    text-align : center;
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
 }
 h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    color: black;
    position: relative;
 }
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        color: black;
        position: relative;
    }
    #kuh {
        width: 80%;
        height: 80px;
    }
   