body  {
    color : black;
    background-color : white;
    text-align : left;
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
 }
 h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: black;
 }
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        color: black;
    }
    #kuh {
        width: 80%;
        height: 100vh;
        object-position: 0px 0px;
        
    }
   