body  {
    background-image: url("https://wallpaperaccess.com/full/31193.jpg");
    background-size: cover;
    color : white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
 }
 h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
 }
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
    }